<div class="row">
   <div class="col-sm-12">
      <h1 class="display-4 text-center">Avaliação Profissional</h1>
      <hr>
   </div>
</div>
<form *ngIf="form" [formGroup]="form" (submit)="submit()" autocomplete="off">
   <div class="row" formArrayName="criterios">
      <div class="col-sm-12" *ngFor="let valor of criteriosEmpresaFormArray.controls; let i = index;">
         <div [formGroupName]="i" class="row">
            <div class="form-group col-sm-8">
               <p>{{ infoAvaliar.criterios[i].idCriterio + ' - ' + infoAvaliar.criterios[i].descricaoValorEmpresa }}</p>
            </div>
            <div class="form-group col-sm-4">
               <select class="form-control" formControlName="nota" type="textarea">
                  <option [ngValue]="null" disabled>Selecione...</option>
                  <option *ngFor="let p of infoAvaliar.pesos" [ngValue]="p.codigo">{{ p.descricao }}</option>
               </select>
               <span class="text-danger" *ngIf="sf(i).controls['nota'].touched && sf(i).controls['nota'].hasError('required')">Preencha este campo!</span>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="form-group col-sm-12">
         <label>Comentários</label>
         <textarea class="form-control" formControlName="comentarios" rows="2"></textarea>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Salvar Avaliação </button>
      </div>
   </div>
</form>
