<div class="row">
   <div class="col-sm-12">
      <h1 class="display-4 text-center">Avaliação Profissional</h1>
      <hr>
   </div>
</div>
<form *ngIf="form" [formGroup]="form" (submit)="submit()" autocomplete="off">
   <div class="row">
      <div *ngIf="infoAvaliar.nomeMentor" class="form-group col-sm-6">
         <div class="alert" [ngClass]="{'alert-success': infoAvaliar.notaMentor >= 80, 'alert-warning': infoAvaliar.notaMentor < 80}" role="alert">
            <h5 class="alert-heading">Avaliado pelo Mentor com {{ infoAvaliar.notaMentor }}% de aproveitamento.</h5>
            <hr>
            <blockquote class="blockquote text-center">
               <p class="mb-0">{{ infoAvaliar.comentariosMentor }}</p>
               <footer class="blockquote-footer">{{ infoAvaliar.nomeMentor }} <cite>(Mentor)</cite></footer>
            </blockquote>
         </div>
      </div>
      <div *ngIf="infoAvaliar.nomeBp" class="form-group col-sm-6">
         <div class="alert" [ngClass]="{'alert-success': infoAvaliar.notaBp >= 80, 'alert-warning': infoAvaliar.notaBp < 80}" role="alert">
            <h5 class="alert-heading">Avaliado pelo (B.P.) com {{ infoAvaliar.notaBp }}% de aproveitamento.</h5>
            <hr>
            <blockquote class="blockquote text-center">
               <p class="mb-0">{{ infoAvaliar.comentariosBp }}</p>
               <footer class="blockquote-footer">{{ infoAvaliar.nomeBp }} <cite>(B.P.)</cite></footer>
            </blockquote>
         </div>
      </div>
   </div>
   <div class="row">
      <div *ngIf="infoAvaliar.ressalvasAvaliacaoAnterior" class="form-group col-sm-12">
         <div class="alert alert-warning" role="alert">
            <h6 class="alert-heading">Atenção! Este funcionário possui uma ressalva referente a avaliação anterior.</h6>
            <hr>
            <blockquote class="blockquote text-right">
               <p class="mb-0">{{ infoAvaliar.ressalvasAvaliacaoAnterior }}</p>
               <footer class="blockquote-footer">O Gerente</footer>
            </blockquote>
         </div>
      </div>
      <div class="form-group col-sm-12">
         <label>Comentários</label>
         <textarea class="form-control" formControlName="comentarios" rows="2"></textarea>
      </div>
      <div class="form-group col-sm-12">
         <label>Ressalvas</label>
         <textarea class="form-control" formControlName="ressalvas" rows="1"></textarea>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Concluir Avaliação </button>
      </div>
   </div>
</form>
   